@import '../panel';

.home {
  height: 100vh;

  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #000;
  overflow: hidden !important;

  .sound-btn {
    position: absolute;
    top: 25px; right: 25px;

    z-index: 998;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #85f76b;
    color: #0bee13;
  }

  .second {
    animation: 0.5s ease-in both running show;
    opacity: 0;
  }

  .bgVid {
    height: 100%;

    display: none;

    @media screen and (min-width: 1650px) {
      width: 100%; height: auto;
    }

    @media screen and (max-width: 730px) {
      width: 100%; height: auto;
    }

    @media screen and (max-width: 530px) {
      width: 100%;
    }
  }

  .playing {
    display: block;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}